<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wddlhyss.community.mapper.UserMapper" >

    <insert id="insertuser">
        insert into users (name, accountId, token, gmtCreate, gmtModified)
        VALUES(#{name},#{accountId},#{token},#{gmtCreate},#{gmtModified})
    </insert>
    <select id="findByToken" parameterType="String" resultType="com.wddlhyss.community.model.User">
        select * from users where token = #{token}
    </select>
</mapper>
